* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;

}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 45%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgba(226, 226, 226, 0.911);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover {
    color: rgb(255, 255, 255);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.4s ease;
}


@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #8a6178;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        /* to move outside screen and then slide it in */
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.blue-button {
    background-color: #4C40F7;
    color: rgba(240, 240, 240, 0.87);
    font-size: 20px;
    border: none;
    width: 200px;
    min-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.rocket-icon {
    position: absolute;
    transition: all 0.5s ease-out;

}

.blue-button:hover>.rocket-icon {
    color: #a8a8a8;
    transform: rotate(-45deg) translate(100%, 0);
    font-size: 30px;
}

.about {
    height: 100vh;
    padding: 10%;
    background-color: #e1e6eb;
    font-size: 90px;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    border-bottom: rgb(209, 209, 209) solid 1px;
    background-image: url("images/stars-backgroupnd.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}

.about-image img {
    width: 70%;
}

.about-container {
    display: flex;
    flex-direction: row;
}

.benefits {
    padding: 5% 10%;
    background-color: rgb(236, 236, 236);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    border-bottom: rgb(209, 209, 209) solid 1px;
}

.benefits-header {
    font-size: 130px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 2px;
    color: rgb(44, 44, 44);
}

.benefits-header :hover+.benefits-dot {
    color: #4C40F7;
}

.benefits-text {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.1;
}

.benefits-text div {
    margin-bottom: 20px;
}

.note {
    color: #4C40F7;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    padding-left: 55px;
}

.note:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 52px;
    height: 2px;
    background: #4C40F7;
}

.benefits-cards {
    display: flex;
    justify-content: space-between;
}

.benefits-cards .far.fa-check-circle {
    color: #4C40F7;
}

.benefits-cards div {
    display: flex;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(156, 156, 156, 0.75);
}

.product {
    padding: 5% 5%;
    background-color: rgb(236, 236, 236);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    border-bottom: rgb(209, 209, 209) solid 1px;

}

.product-description {
    margin: 0 10%;
    font-size: 25px;
}

.product-items {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.product-item-header {
    color: #3324ff;
    font-size: 30px;
    font-weight: 300;

}

.product-description {
    margin-bottom: 30px;
}

.product-img img {
    max-height: 250px;
}

@media screen and (max-width: 1000px) {
    .product-items {
        flex-direction: column;
    }

    .benefits-header {
        font-size: 90px;
    }

    .benefits-cards {
        flex-direction: column;
    }
}

.packages {
    padding: 5% 5%;
    background-color: rgb(236, 236, 236);
    font-family: 'Poppins', sans-serif;
    display: flex;
    border-bottom: rgb(209, 209, 209) solid 1px;
    color: rgb(59, 59, 59);

}

.package-header {
    font-size: 30px;
    margin-bottom: 10px;
}

.package-header-extra {
    font-size: 20px;
    margin-bottom: 10px;

}

.blue-span {
    color: #4C40F7;
    font-size: 200;
}

.package-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.package-list {
    display: flex;
    flex-wrap: wrap;

}

.package-list-item {
    width: 50%;
    margin: 20px 0;
}

.package-list-header {
    font-size: 20px;
}